/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  margin-top: 15px;
}

.light {
  border: 2px solid black;
  border-radius: 10%;
  padding: 20px;
  width: 50px;
  margin: 0 auto;
}

.dark {
  border: 2px solid black;
  border-radius: 10%;
  color: white;
  background-color: #000000;
  padding: 20px;
  width: 50px;
  margin: 0 auto;
}

.leftButtonLight {
  background-image: url("../assets/buttonsText/leftTextLight.png");
  border: 2px solid black;
  height: 30px;
  width: 30px;
}

.leftButtonLigth:hover {
  border: 2px solid #00eaff;
  background-color: #00eaff;
  -webkit-transition: 0.2s;
}

.leftButtonDark {
  background-image: url("../assets/buttonsText/leftTextDark.png");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 5%;
  background-color: #000000;
  padding: 15px;
}

.leftButtonDark:hover {
  border: 2px solid #00eaff;
  background-color: #00eaff;
  -webkit-transition: 0.2s;
}

.rightButtonDark {
  background-image: url("../assets/buttonsText/right-text-alignment\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 5%;
  background-color: #000000;
  padding: 15px;
}

.rightButtonDark:hover {
  border: 2px solid #00eaff;
  background-color: #00eaff;
  -webkit-transition: 0.2s;
}

.textLeft {
  text-align: left;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 15px;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 15px;
}
